html,
body {
  height: 100%;
  background-color: #F1F1F1; }

.order_container {
  padding-top: 0.8rem; }
  .order_container .order_header {
    padding: 0 0.38rem;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    text-align: center;
    font-size: 0.28rem;
    width: 100%;
    height: 0.84rem;
    box-sizing: border-box;
    background-color: #fff; }
  .order_container .order_header .order_all,
  .order_container .order_unpaid,
  .order_container .order_paid {
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    text-align: center;
    color: #000000;
    line-height: 0.8rem;
    box-sizing: border-box;
    padding: 0 0.2rem; }

.order_avtive {
  color: #00C7F2;
  border-bottom: 2px solid #00C7F2; }

.order_main_list {
  width: 100%;
  /* height: 1.44rem; */
  background-color: #fff;
  margin-top: 0.22rem; }
  .order_main_list .order_main_li {
    padding: 0 0.16rem;
    width: 100%;
    height: 1.55rem;
    box-sizing: border-box;
    border-bottom: 1px dotted #000000;
    overflow: hidden;
    font-size: 0.28rem; }

.order_main_li_fl {
  overflow: hidden; }

.order_main_li_fl p {
  float: right; }

.order_main_li_fl .order_main_goods {
  float: left; }

.order_main_state {
  padding: 0.3rem 0.16rem 0.2rem;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex; }

.order_main_state .order_main_goods {
  font-size: 0.28rem;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1; }

.order_main_state .order_main_goods span {
  vertical-align: middle; }

.order_main_state .order_main_btn {
  width: 1.6rem;
  height: 0.48rem;
  /* margin-top: 0.08rem; */
  background-color: #00C7F2;
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.48rem;
  border-radius: 0.1rem; }

.order_main_li_pt {
  padding-top: 0.4rem;
  padding-bottom: 0.2rem; }

.order_main_integral {
  color: #FA5E1B;
  margin-left: 1rem; }
