* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  background: #f1f1f1; }

.order-type1::after {
  content: '';
  display: block;
  clear: both; }

.order-type::after {
  content: '';
  display: block;
  clear: both; }

.distribution-information {
  width: 100%;
  background: white;
  margin: 0.4rem 0;
  box-sizing: border-box;
  padding: 0.2rem;
  font-size: 0.32rem;
  line-height: 0.64rem; }
  .distribution-information .modify {
    width: 1.6rem;
    line-height: 0.7rem;
    text-align: center;
    border: 0.02rem solid #ccc;
    float: right;
    margin: 0.9rem 0.2rem 0 0;
    border-radius: 0.16rem; }

.order-type {
  width: 100%;
  background: white;
  margin-bottom: 0.4rem;
  font-size: 0.36rem;
  line-height: 40px; }
  .order-type .order-type1 {
    box-sizing: border-box;
    padding: 0.2rem;
    border-bottom: 0.02rem solid #ccc; }
    .order-type .order-type1 .order {
      float: left; }
    .order-type .order-type1 .content {
      float: right; }
  .order-type .btn-commodity-details {
    width: 3rem;
    line-height: 0.7rem;
    margin-top: 0.2rem;
    float: right;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0.02rem solid black;
    border-radius: 0.1rem;
    text-align: center; }

.verification {
  width: 100%;
  background: white;
  margin-bottom: 0.4rem;
  font-size: 0.36rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  padding: 0 0.3rem 0 0;
  margin-top: 20px; }
  .verification input {
    width: 3.6rem;
    height: 0.8rem;
    margin-left: 0.4rem;
    font-size: 0.32rem;
    border: 1px solid #ccc; }
  .verification span {
    color: red; }
  .verification button {
    background: #00c7f2;
    border: none;
    outline: none;
    height: 0.84rem;
    padding: 0 0.3rem;
    color: white;
    display: block;
    float: right;
    margin-top: 0.4rem; }

.Amount-of-money {
  width: 100%;
  background: white;
  font-size: 0.36rem;
  box-sizing: border-box;
  padding: 0 15px;
  color: #fa5e1b;
  line-height: 0.9rem; }
  .Amount-of-money .money-1 {
    float: left;
    line-height: 1.1rem; }
  .Amount-of-money .determine {
    width: 3rem;
    float: right;
    background: #fa5e1b;
    color: white;
    margin: 0.1rem 0;
    border-radius: 0.16rem;
    text-align: center;
    font-size: 0.4rem; }

.Amount-of-money::after {
  content: '';
  display: block;
  clear: both; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .popup .popup-1 {
    width: 6.5rem;
    background: white;
    border-radius: 0.14rem;
    margin: 40% auto 0;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.8rem;
    padding-bottom: 1px; }
    .popup .popup-1 div {
      width: 2.4rem;
      border: 0.02rem solid black;
      border-radius: 0.1rem;
      margin: 0 auto 0.4rem; }
    .popup .popup-1 .dd {
      color: orange;
      margin-bottom: 0.1rem; }

.user-name-ipt, .cell-phone-ipt, .address-ipt {
  display: none; }

.user-name-ipt, .cell-phone-ipt {
  margin-bottom: 0.4rem; }

/*# sourceMappingURL=settlement.css.map */
.commodity-name {
  background: white;
  font-size: 0.36rem;
  line-height: 1rem;
  border-bottom: 0.02rem solid #ccc; }
  .commodity-name .commodity-name-title {
    float: left;
    width: 3.6rem;
    box-sizing: border-box;
    padding-left: 0.3rem; }
  .commodity-name .unit-price {
    float: left;
    width: 1.6rem;
    text-align: center;
    margin-left: 0.2rem; }
  .commodity-name .commodity-number {
    float: right;
    width: 1.6rem;
    text-align: center;
    margin-right: 0.2rem; }

.commodity-name::after {
  content: '';
  display: block;
  clear: both; }

.commodity-name:last-child {
  border: none; }

